In [1]:
# 1. numbers between 2000 and 3200 that are divisible by 7 but are not multiples of 5
div_by_7 = []

for number in range(2000, 3201):
    if number % 7 == 0:
        if number % 5 != 0:
            div_by_7.append(number)
print(div_by_7)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
# 2. Accept first and last name and print in reverse order
f_name = input("Please enter your first name: ")
l_name = input("Please enter your last name: ")

full_name = f"{l_name} {f_name}"

print("Your full name in the reverse order is ", full_name)

Please enter your first name: John
Please enter your last name: Doe
Your full name in the reverse order is  Doe John

In [3]:
# 3. Volume of sphere with diameter 12 cm
diameter = 12
radius = diameter / 2

vol_of_sphere = 4 / 3 * 3.14 * pow(radius, 3)
print(f"The volume of sphere with diameter 12 is {vol_of_sphere}")

The volume of sphere with diameter 12 is 904.3199999999999

In [4]:
# 4. Accept comma separated numbers and generate a list
output_list = []
seq_of_nos = input(
    "please enter a sequence of comma separated numbers without spaces: "
)

for number in seq_of_nos.split(","):
    output_list.append(number)

print(f"The list form of the sequence of numbers you supplied is: {output_list}")

please enter a sequence of comma separated numbers without spaces: 1,2,3,4,5
The list form of the sequence of numbers you supplied is: ['1', '2', '3', '4', '5']

In [5]:
# 5. Create the pattern using nested for loop in Python
for i in range(0, 5):
    for j in range(0, i + 1):
        print("* ", end="")
    print()

for i in range(0, 4):
    for j in range(4, i, -1):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
# 6. program to accept a word from user and reverse it


def reverse(word):
    """function to return reverse of a word"""
    str = ""
    for i in word:
        str = i + str
    return str


word = input("Enter a word: ")
reverse = reverse(word)
print(f" The reverse of {word} is {reverse}")

Enter a word: Wikipedia
 The reverse of Wikipedia is aidepikiW

In [9]:
# 7. print the following string in the given format
string1 = "WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens"

print(string1)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens